{% comment %} {% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}User Input{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="power_price_strike">power_price_strike</label>
    <input name="power_price_strike" id="power_price_strike" required>
    <label for="mw_notional">mw_notional</label>
    <input type="mw_notional" name="mw_notional" id="mw_notional" required>
    <input type="submit" value="Submit ">
  </form>
{% endblock %} {% endcomment %}